* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s all linear;
}

a {
  text-decoration: none;
}
body {
     height: 500vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
}
header.sticky {
  position: fixed;
  background: #fff;
}
header nav.nav.active {
  top: 60px;
  left: 0;
  right: 0;
  position: fixed;
}

nav.nav {
  display: none;
}
nav.nav a {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 17.8658px;
  line-height: 39px;
  margin: 10px;
  /* identical to box height */
  color: #000000;
}
#menu-bar {
  font-size: 2rem;
  margin-right: 30px;
}

nav.nav.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50px;
  right: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 50%;
  background: #fff;
  box-shadow: .0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.logo-desktop {
  display: none;
}
.row {
  margin-top: 50px;
}
.row-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.row-1 h1 {
  font-family: "Helvetica";
  font-style: normal;
  width: 319px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100.99%;
  /* or 48px */
  color: #000000;
}
.row-1 small {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  margin-top: 20px;
  width: 320px;
  letter-spacing: 0.03em;
  color: #000000;
}
.row-1-btn {
  padding: 6px 45px;
  background: #3087e6;
  margin-top: 20px;
  display: inline-block;
  font-family: "Helvetica";
  font-style: normal;
  height: 40px;
  width: 238px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  align-items: center;
  /* identical to box height, or 300% */
  color: #ffffff;
}
.col {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-content: center;
     align-items: center;
     margin-top: 50px;
}
.col-bx {
     margin: 20px;
}
.img-bx img {
    width: 320px;
}

.text-bx {
     margin-top: 20px;
}
.text-bx h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* or 134% */
    letter-spacing: 0.03em;
    color: #000000;
}
.text-bx p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    /* or 267% */
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #000000;
    
    
}
.works-btn {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}
.works-btn .work-btn {
  margin: 10px;
  padding: 6px 45px;
  font-size: 20px;
  width: 238px;
  gap: 10px;
  background: #3087E6;
}
.works-btn .two {
   background: none;
   color:  #3087E6;
   border: 2px solid;
}
.about {
  background: linear-gradient(118.57deg, #3087E6 8.89%, #FE4A49 107.28%);
  margin-top: 100px;
  overflow-x: hidden;
}
.img-div {
   position: relative;
}
.img-div img {
  position: absolute;
  top: 0px;
  right: 100px;
  width: 150px;
  margin-right: -200px;
  margin-top: -50px;
}
.about-content {
   padding: 50px;
   overflow: hidden;
  
}
.about-content h1{
   font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 24px;
margin-top: 50px;
line-height: 30px;
/* or 125% */

width: 284px;
color: #FFFFFF;

}
.about-text {
   margin-top: 30px;
}
.text-1 p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  /* or 200% */
  
  letter-spacing: 0.03em;
  
  color: #000000;
  
}
.media-links {
   margin-top: 20px;
}
.media-links li a {
   text-decoration: none;
}
.media-links li, a {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  color: #FFFFFF;
  list-style: none;

}
.media-links a {
   text-decoration: underline;
   margin-top: 20px;
}
.insta { 
  padding-left: 20px;
}
 .service {
   margin-top: 50px;
 }
 .service h1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* or 132% */
  
  text-align: center;
  
  color: #000000;
 }
 .service-bx {
   display: flex;
   flex-wrap: wrap;
   margin-top: 50px;
   justify-content: center;
   align-items: center;
 }
 .bx-content {
  background: #FFFFFF;
  /* DROP SHADOW */
  width: 145px;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  box-shadow: 6.85903px 10.0247px 10.5524px rgba(0, 0, 0, 0.05);
  border-radius: 1.84666px;
 }
 .bx-content-text {
   margin-top: 30px;
 }
 .bx-content-text p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  text-align: center;
  line-height: 13px;
  color: #3087E6;
 }
 .demo {
  margin-top: 50px;
  background: #E6E6EA;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

 }
 .demo h1, a{
   text-align: center;
 }
 .demo h1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  /* or 137% */
  
  text-align: center;
  
  color: #3087E6;
  
 }
 .demo a {
  text-decoration-line: underline;
   font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 33px;
/* or 235% */
text-align: center;
color: #000000;
 }
 .footer {
   background: url(../img/footer\ with\ pattern.svg) no-repeat;
   background-size: cover;
   padding: 50px;
   margin-top: 100px;
 }
 .footer-div {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .f1 {
   display: flex;
   flex-direction: column;
 }
 .f1 a {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */
  
  width: 74px;
  color: #FFFFFF;
 }
 .f2 li {
   list-style: none;
   font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* or 200% */

width: 158px;
color: #FFFFFF;
 }
 .testi-row {
   margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
 }
 .testi-text h1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  /* or 142% */
  
  text-align: center;
  
  color: #3087E6;
 }
 .testi-text p {
  width: 320px;
  font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 28px;
/* or 200% */

text-align: center;

color: #000000;
 }
 .testi-bx-container {
  width: 238px;
  height: 280px;
  background: #3087E6;
  margin: 20px;
  padding: 20px;
 }
 .testi-bx-container p {
  width: 190.6px;
  margin-top: 20px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16.4551px;
  line-height: 27px;
  /* or 167% */
  color: #FFFFFF;
 }
 .testi-bx-txt {
   margin-top: 30px;
 }
 .testi-bx-txt h1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  /* or 171% */
  color: #FFFFFF;
 }
 .testi-bx-txt small {
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 8px;
/* or 343% */
color: #FFFFFF;
 }

 @media screen and (min-width: 700px) {
  .testi-row {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .testi-text {
     margin-left: 20px;
  }
  .testi-text h1 ,
  .testi-text p {
     text-align: center;
  }
  .testi-bx {
     display: flex;
  }
 }

@media screen and (min-width: 991px) {
  #menu-bar {
    display: none;
  }
  .logo-mobile {
    display: none;
  }
  .logo-desktop {
    display: initial;
    margin-left: 50px;
  }
  nav.nav {
    display: flex;
  }
  nav.nav a {
    margin: 15px;
    font-size: 25.8658px;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin-top: 50px;
  }
  .row-1 {
    margin-top: 50px;
    text-align: left;
    margin-left: 70px;
  }
  .row-1 h1 {
    font-weight: 700;
    font-size: 100px;
    line-height: 100.99%;
    width: 810px;
  }
  .row-1 small {
    margin-right: auto;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    width: 700px;
  }
  .row-1-btn {
    margin-top: 30px;
    margin-right: auto;
    padding: 6px 83px;
    width: 409px;
    height: 72px;
    line-height: 60px;
    font-size: 36px;
  }
  .header-img {
     background: url(../img/pattern.png) right no-repeat;
     height: 100vh;
     object-fit: cover;
     max-width: 2600px;
    
  }
  .img-bx img {
    width: 600px;
}
.text-bx h1 {
    font-size: 36px;
    line-height: 60px;
}
.text-bx p {
    font-size: 18px;
    line-height: 60px;
}
.works-btn {
     justify-content: center;
     align-content: center;
     margin-top: 20px;
}
.works-btn .work-btn {
  margin: 20px;
  padding: 6px 83px;
  width: 521px;
  gap: 10px;
  font-size: 36px;
  background: #3087E6;
}
.works-btn .two {
   background: none;
   color:  #3087E6;
   border: 2px solid;
}
 
 .img-div {
  position: relative;
}
.img-div img {
 position: absolute;
 top: 0px;
 right: 100px;
 width: 300px;
 margin-right: -150px;
}

 .about-content h1 {
  font-size: 45px;
  line-height: 60px;
  width: 850px;
 }
 .text-1 p {
  font-size: 25px;
  line-height: 40px;
  width: 700px;
 }
 .text-2 h1 {
  font-size: 48px;
  line-height: 60px;
  width: 521px;
 }
 .media-links li, a {
  font-size: 32px;
  line-height: 60px;
 }
 .service h1 {
  font-size: 72px;
  line-height: 90px;
 }
 .bx-content {
  width: 383px;
  height: 496px;
  margin: 30px;
 }
 .bx-content img {
  width: 139.17px;
 }
 .bx-content-text p {
  font-size: 36px;
  line-height: 48px;
 }
 .demo {
  background: #E6E6EA;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 100px;
 }
 .demo  h1 {
  text-align: left;
  font-size: 72px;
  line-height: 90px;
 }
 .demo a {
   text-align: left;
   font-size: 36px;
line-height: 90px;
 }
 .f2 {
   margin-right: 100px;
 }
 .f1 a {
  font-size: 36px;
  line-height: 60px;
  
 }
 .f2 li {
  font-size: 36px;
  line-height: 60px;
  width: 784px;
 }
  .testi-row {
    flex-direction: row;
    justify-content: left;
    align-content: left;
    align-items: left;
  }
  .testi-text {
    margin-left: 50px;
  }
  .testi-bx {
    display: flex;
    flex-wrap: nowrap;
  }
  .testi-text h1 {
   width: 521px;
   text-align: left;
   font-weight: 700;
   font-size: 60px;
   line-height: 90px;
  }
  .testi-text p {
   width: 477px;
   text-align: left;
   font-size: 36px;
   line-height: 60px;
  }
}


 

@media screen and (min-width: 1260px) {
   .about-text {
     display: flex;
   }
   .text-2 {
     margin-left: 30px;
   }
   .text-2 h1 {
     font-size: 25px;
     line-height: 40px;
     width: 450px;
   }
   .img-div img {
    width:400.04px;
    position: absolute;
    overflow: hidden;
    left:1100.66px;
   }
  }
  